/* style add for all element */
* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  color: white;
}

/* style for body */
body {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  background-color: #ccc;
}

/*style main-view div*/
.main-view {
  width: 1024px;
  margin: 0 auto;
  background-color: #fff;
  box-shadow: 0px 1.25px 2.5px rgba(0, 0, 0, 0.06), 0px 0px 0px 1.25px rgba(104, 113, 130, 0.16);
  color: #000;
}

/* style root div */
#root {
  width: 100%;
}

/* style navbar component ---------------------------------*/
.navbar {
  align-items: center;
  display: flex;
  height: 100px;
  padding: 0px 20px;
  justify-content: space-between;
  background-color: #274d51;
  box-shadow: 0px 1px 2px rgba(50, 43, 95, 0.08);
}

.navbar h2 {
  font-weight: 600;
  color: #fff;
  font-size: 30px;
  margin-bottom: 0px;
}

.right-nav {
  display: flex;
  align-items: center;
  gap: 23px;
}

.right-nav h3 {
  color: #DDDDDD;
  font-size: 22px;
  font-weight: 500;
  margin-bottom: 0px;
}

.addhabit-btn {
  border: 0px;
  background-color: #7354A0;
  display: inline-flex;
  align-items: center;
  gap: 5px;
  padding: 12px;
  color: #fff;
  border-radius: 10px;
  font-weight: 500;
  font-size: 16px;
}

.addhabit-btn:hover {
  background-color: #333333;
  color: #fff;
}

/* modal */
.modal-content {
  background-color: #333333;
}

.modal-header {
  border: none;
}

.modal-footer {
  border: none;
}

/* ---------------------------------------------------- */

/* habits components style------------------------------ */
.habits {
  width: 100%;
}

/* habit under habits component */
.habit {
  width: 100%;
  height: 100px;
  border-bottom: 1px solid #323232;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 20px;
}

.habit:hover {
  background-color: #323232;
}

.habit-left {
  display: flex;
  align-items: center;
}

.habit-left i {
  color: #2AA8D0;
  padding: 10px;
  border-radius: 50%;
  background-color: #304950;
  margin-right: 10px;
}

.day-complete {
  color: #767475;
  font-size: small;
}

.habit-right {
  display: flex;
  align-items: center;
}

.log-btn {
  text-decoration: none;
  cursor: pointer;
  background-color: #424242;
  padding: 10px;
  border-radius: 7px;
  margin-right: 10px;
  color: white;
  border: none;
}

.log-btn:hover {
  color: white;
  background-color: #7354A0;
}

.log-btn i {
  margin-right: 5px;
}

.fa-trash {
  cursor: pointer;
  padding: 10px;
  border-radius: 7px;
  background-color: #424242;
}

/* style week view container --------------------------- */
.days-container {
  margin: 20px 0px;
  display: flex;
  justify-content: space-around;
}

/* style day view component */
.day-container {
  height: 100px;
  width: 150px;
  background-color: #323232;
  border-radius: 20px;
  padding: 5px;
}

p {
  margin: 0%;
}

.circle-icon {
  font-size: 24px;
  margin: 5px 11px;
  /* color: #0B5ED7; */
  cursor: pointer;
}

.active {
  color: #0B5ED7;
}

/* ------------------------------------------------------*/